#body{
    color: #fff;
}


#main-content{
  height: 100%;
  position: fixed;
  width: 100%
}


#map-canvas {
  width: 100%;
  height: 100%;
  position: relative;

}

#translate-container{
    position: absolute;
    width: 200%;
    height: 200%;
    z-index: 9999;
}


#fib-cont {
    width: 46%;
    background-color: transparent;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    z-index: 9999;
    cursor: move;
    //resize: horizontal;
    //overflow: auto;
    &.disable{
        display: none;
    }

    svg{
        stroke: #F50000;
        stroke-width: 0.4;
    }
    path {
        stroke: rgb(0, 168, 255);
        stroke-opacity: 1;
        stroke-width: 1.5;
        fill: none;
    }

}

aside{
  width: 67% !important;
  max-width: 700px!important;
  background-color: #40CFA9;
  position: fixed;
  bottom: 0;
  right: 0%;
  z-index: 9999;
  button{
    margin-top: 10px;
  }
}
