{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "valid-jsdoc": 2,
    "no-var": 0,
    "react/jsx-uses-react": 1,
    "react/jsx-no-undef": 2,
    "react/wrap-multilines": 2,
    "react/prop-types": 0,
    "max-len": 0,
    "react/no-multi-comp": 0,
    "consistent-return": 0,
    "arrow-body-style": 0,
    "react/jsx-no-bind": 0,
    "no-param-reassign": [2, { "props": false }],
    "react/prefer-stateless-function": 0,
    "no-console": 0,
    "no-nested-ternary": 0,
    "no-script-url": 0,
    "no-use-before-define": 0
  },
  "plugins": [
    "react"
  ]
}
