$diameter: 15px;

/**
 * Rangeslider
 */

.disabled .rangeslider {
	.rangeslider__fill {
		background:  rgba(183, 183, 183, 0.78);
		cursor: not-allowed;
	}
}

.rangeslider {
	margin: 5px 0 8px;
	position: relative;
  background: #e6e6e6;
  .rangeslider__fill, .rangeslider__handle {
  	position: absolute;
  }
  &, .rangeslider__fill {
  	display: block;
  	box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  }
  .rangeslider__handle {
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    &:active {
      background: #999;
    }
  }
}
/**
 * Rangeslider - Horizontal slider
 */
.rangeslider-horizontal {
	height: $diameter / 2;
	border-radius: 10px;
	.rangeslider__fill {
		height: 100%;
		background: #27ae60;
		border-radius: 10px;
		top: 0;
	}
	.rangeslider__handle {
		width: $diameter;
		height: $diameter;
		border-radius: $diameter;
		top: -3px;
	}
}
