/*
 * A partial implementation of the Ruby list functions from Compass:
 * https://github.com/Compass/compass/blob/stable/lib/compass/sass_extensions/functions/lists.rb
 */
/*
 * A partial implementation of the Ruby constants functions from Compass:
 * https://github.com/Compass/compass/blob/stable/lib/compass/sass_extensions/functions/constants.rb
 */
/*
 * A partial implementation of the Ruby display functions from Compass:
 * https://github.com/Compass/compass/blob/stable/core/lib/compass/core/sass_extensions/functions/display.rb
 */
/*
 * A partial implementation of the Ruby list functions from Compass:
 * https://github.com/Compass/compass/blob/stable/lib/compass/sass_extensions/functions/lists.rb
 */
/*
 * A partial implementation of the Ruby constants functions from Compass:
 * https://github.com/Compass/compass/blob/stable/lib/compass/sass_extensions/functions/constants.rb
 */
/*
 * A partial implementation of the Ruby display functions from Compass:
 * https://github.com/Compass/compass/blob/stable/core/lib/compass/core/sass_extensions/functions/display.rb
 */
#body {
  color: #fff; }

#main-content {
  height: 100%;
  position: fixed;
  width: 100%; }

#map-canvas {
  width: 100%;
  height: 100%;
  position: relative; }

#translate-container {
  display: none;
  position: absolute;
  z-index: 999;
  cursor: move;
  width: 500px; }
  #translate-container.dragging {
    z-index: 9999; }
  #translate-container.hide {
    display: none; }

#cloned-fib {
  position: absolute;
  width: auto;
  height: auto; }

#fib-cont {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: none; }
  #fib-cont.dragging {
    cursor: move; }
  #fib-cont.disable {
    display: none !important; }
  #fib-cont svg {
    stroke: #F50000;
    stroke-width: 0.4; }
  #fib-cont path {
    stroke: #00a8ff;
    stroke-opacity: 1;
    stroke-width: 1.5;
    fill: none; }

aside {
  width: 70% !important;
  max-width: 960px !important;
  background-color: #40CFA9;
  position: fixed;
  bottom: 0;
  right: 0%;
  z-index: 2; }
  aside button {
    margin-top: 3px;
    margin-bottom: 12px; }
  aside label {
    color: #444444; }

.range-slider {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 11px; }
  .range-slider > .manual {
    text-align: center;
    display: block;
    padding: 0;
    margin: 0;
    width: 16px;
    height: 16px;
    position: absolute;
    top: -1px;
    font-weight: bold;
    cursor: pointer; }
  .range-slider > .inc {
    right: -21px;
    left: initial; }
  .range-slider > .dec {
    left: -21px;
    right: initial; }

.range-slider-handle {
  border: none; }

.inline-flex {
  display: inline-flex; }
