#body {
  color: #fff; }

#main-content {
  height: 100%;
  position: fixed;
  width: 100%; }

#map-canvas {
  width: 100%;
  height: 100%;
  position: relative; }

#test-fib {
  width: 50%;
  height: 20%;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999; }
  #test-fib path {
    stroke: black;
    stroke-opacity: 1;
    stroke-width: 1.5;
    fill: none; }
