#body {
  color: #fff; }

#main-content {
  height: 100%;
  position: fixed;
  width: 100%; }

#map-canvas {
  width: 100%;
  height: 100%;
  position: relative; }

#fib-cont {
  width: 46%;
  background-color: transparent;
  position: absolute;
  top: 9%;
  left: 16%;
  z-index: 9999;
  cursor: move; }
  #fib-cont.disable {
    display: none; }
  #fib-cont svg {
    stroke: #F50000;
    stroke-width: 0.4; }
  #fib-cont path {
    stroke: #00a8ff;
    stroke-opacity: 1;
    stroke-width: 1.5;
    fill: none; }

aside {
  width: 67% !important;
  max-width: 700px !important;
  background-color: #40CFA9;
  position: fixed;
  bottom: 0;
  right: 0%;
  z-index: 9999; }
  aside button {
    margin-top: 10px; }
